<div class="accordion-item">
    <h2 class="accordion-header" id="headingThreeNAME">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreeNAME" aria-expanded="false" aria-controls="collapseThreeNAME">
            TEXT
        </button>
    </h2>
    <div id="collapseThreeCPT" class="accordion-collapse collapse" aria-labelledby="headingThreeNAME" data-bs-parent="#AccordionNAME">
        <div class="accordion-body">
            <p> TEXT</p>
        </div>
    </div>
</div>